* {
  font-family: sans-serif;
  outline: 0;
}
html, body {
    background-color: #fff;
    margin: 0;
    padding: 0;
    font-size: 16px;
}
.wrapper {
    max-width: 1200px;
    margin: 0 auto;
}
ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}
li {
    display: inline-block
}
a {
    text-decoration: none;
    display: block
}
/************* HEADER **************/
/***********************************/
header {
    position: relative;
}
header > div {
    display: inline-block;
}
header img {
    padding: 20px 0;
}
header ul a {
    color: #5f6061;
    font-weight: bold;
    padding: 2px 14px;
}
.nav {
    position: absolute;
    top: 36px;
    padding: 0 20px;
}
.nav li {
    position: relative;
    padding-bottom: 43px;
}
.nav li a:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 30%;
    width: 1px;
    background: red;
}
.nav .last a:after {
    content: "";
    background: none;
}
#contact li {
    display: block;
    text-align: right;
    padding: 2px 0;
}
#contact {
    position: absolute;
    top: 25px;
    right: 0;
}
#telephone {
    color: #00ace1;
    font-size: 105%;
}
#telephone .fa-phone {
    font-size: 105%;
}
#contactinfo {
    font-size: 78%;
    word-spacing: 1px;
}
#contactinfo .left {
    padding-right: 7px;
    position: relative;
}
#contactinfo .right {
    padding-left: 8px;
}
#contactinfo .fa-info-circle {
    font-size: 105%;
}
#contactinfo .fa-info-circle:after {
    content: "";
    position: absolute;
    top: 10%;
    right: 0;
    height: 80%;
    width: 1px;
    background: red;
}

/*************BANNER**************/
/*********************************/
#banner {
    background: #434345;
    color: #fff;
    line-height: 50px;
}
#banner .wrapper > div {
    display: inline-block;
    width: 33%;
}
#banner .second {
    text-align: center;
}
#banner .third {
    text-align: right;
}
#banner a {
    color: #fff;
    display: inline;
    padding: 2px;
}

/************CARMAKES*************/
/*********************************/

#carmakes {
    margin-bottom: 20px;
}
#carmakes ul {
    display: block;
    margin-bottom: 4px;
}
#carmakes li {
    width: 19.7%;
    text-align: center;
    background: #37383a;
    padding: 50px 0;
}
#carmakes a {
    color: #fff;
    font-size: 110%;
    font-weight: 600;
}

/*************INFOPANELS************/
/***********************************/

#infopanels li {
    width: 31%;
    box-shadow: 0 0 2px grey;
    overflow: hidden;
    border-radius: 10px;
    margin-right: 30px
}
#infopanels .info {
    padding: 0 25px 0 20px;
    font-size: 80%;
    line-height: 1.5;
}
#infopanels .info h3 {
    font-size: 145%
}
#infopanels li:nth-child(2) {
    padding-bottom: 40px
}
#infopanels li:last-child {
    padding-bottom: 18px;
    margin-right: 0;
}